<div class="container-fluid">
    <div class="row">
        <div class="col-xs-9">
            <h6 class="instructions">Select a tile to score major points.</h6>
        </div>
        <div class="col-xs-3">
            <span class="label label-info score" ng-click="showDashboard()">score: {{game.totalPoints}}</span>
        </div>
    </div>
    <hr></hr>
    <div class="row">
        <div class="col-xs-3 fheader " >
            <p class="fashion-title">Fashion</p>
        </div>
        <div class="col-xs-3 fheader">
            <p class="hair-makeup-title">Hair Make-Up</p>
        </div>
        <div class="col-xs-3 fheader">
            <p class="pop-culture-title">Pop Culture</p>
        </div>
        <div class="col-xs-3 fheader">
            <p class="music-title">Music</p>
        </div>
    </div>
    <div class="row">
        <div class=" col-xs-3">
            <img class="img-responsive" src="./images/fashion.png"></img>
        </div>
        <div class=" col-xs-3">
            <img class="img-responsive" src="./images/hair-makeup.png"></img>
        </div>
        <div class=" col-xs-3">
            <img class="img-responsive" src="./images/pop-culture.png"></img>
        </div>
        <div class="col-xs-3">
            <img class="img-responsive" src="./images/music.png"></img>
        </div>
    </div>
    <div class="row">
        <div id="f1" class="col-xs-3 game-tile fashion-column frazie" ng-disabled="isAnswered('f1')" ng-click="displayQuestion('fashion', 100, 'f1')">
            <p>100</p>
        </div>
        <div id="h1" class="col-xs-3 game-tile hair-makeup-column frazie" ng-disabled="isAnswered('h1')" ng-click="displayQuestion('hair-makeup', 100, h1)">
            <p>100</p>
        </div>
        <div id="p1" class="col-xs-3 game-tile pop-culture-column frazie" ng-disabled="isAnswered('p1')" ng-click="displayQuestion('pop-culture', 100, p1)">
            <p>100</p>
        </div>
        <div id="m1" class="col-xs-3 game-tile music-column frazie" ng-disabled="isAnswered('m1')" ng-click="displayQuestion('music', 100, m1)">
            <p>100</p>
        </div>
    </div>
    <div class="row">
        <div id="f2" class="col-xs-3 game-tile fashion-column fgothic" ng-disabled="isAnswered('f2')" ng-click="displayQuestion('fashion', 200, 'f2')">
            <p>200</p>
        </div>
        <div id="h2" class="col-xs-3 game-tile hair-makeup-column fgothic" ng-disabled="isAnswered('h2')" ng-click="displayQuestion('hair-makeup', 200, h2)">
            <p>200</p>
        </div>
        <div id="p2" class="col-xs-3 game-tile pop-culture-column fgothic" ng-disabled="isAnswered('p2')" ng-click="displayQuestion('pop-culture', 200, p2)">
            <p>200</p>
        </div>
        <div id="m2" class="col-xs-3 game-tile music-column fgothic" ng-disabled="isAnswered('m2')" ng-click="displayQuestion('music', 200, m2)">
            <p>200</p>
        </div>
    </div>
    <div class="row">
        <div id="f3" class="col-xs-3 game-tile fashion-column fcurlzmt" ng-disabled="isAnswered('f3')" ng-click="displayQuestion('fashion', 500, 'f3')">
            <p>500</p>
        </div>
        <div id="h3" class="col-xs-3 game-tile hair-makeup-column fcurlzmt" ng-disabled="isAnswered('h3')" ng-click="displayQuestion('hair-makeup', 500, h3)">
            <p>500</p>
        </div>
        <div id="p3" class="col-xs-3 game-tile pop-culture-column fcurlzmt" ng-disabled="isAnswered('p3')" ng-click="displayQuestion('pop-culture', 500, p3)">
            <p>500</p>
        </div>
        <div id="m3" class="col-xs-3 game-tile music-column fcurlzmt" ng-disabled="isAnswered('m3')" ng-click="displayQuestion('music', 500, m3)">
            <p>500</p>
        </div>
    </div>
    <div class="row">
        <div id="f4" class="col-xs-3 game-tile fashion-column fjokerman" ng-disabled="isAnswered('f4')" ng-click="displayQuestion('fashion', 1000, 'f4')">
            <p>1000</p>
        </div>
        <div id="h4" class="col-xs-3 game-tile hair-makeup-column fjokerman" ng-disabled="isAnswered('h4')" ng-click="displayQuestion('hair-makeup', 1000, h4)">
            <p>1000</p>
        </div>
        <div id="p4" class="col-xs-3 game-tile pop-culture-column fjokerman" ng-disabled="isAnswered('p4')" ng-click="displayQuestion('pop-culture', 1000, p4)">
            <p>1000</p>
        </div>
        <div id="m4" class="col-xs-3 game-tile music-column fjokerman" ng-disabled="isAnswered('m4')" ng-click="displayQuestion('music', 1000, m4)">
            <p>1000</p>
        </div>
    </div>
</div>
